<h1><%= "Patients with BMI of #{params[:id]}" %></h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>BMI</th>
      <th>BMI STATUS</th>

    </tr>
  </thead>

<tbody>
  <% @patients.each do |patient|%>
  <% if patient.bmi_status == "#{params[:id].capitalize}" %>
    <tr>
      <td><%=link_to patient.name, patient %></td>
      <td><%=link_to patient.weight, patient %></td>
      <td><%=link_to patient.bmi, patient %></td>
      <td><%=link_to patient.bmi_status, patient %></td>
    </tr>
  <% end %>
  <%end %>

</tbody>
</table>
