<!-- <div class="table-title"> -->
  <h1>Patients</h1>
<!-- </div> -->


<table>
  <thead>
    <tr>
      <th class="text-left">Patient Name</th>
      <th class="text-left">Feet</th>
      <th class="text-left">Inches</th>
      <th class="text-left">Lb's</th>
      <th class="text-left">BMI</th>
      <th class="text-left">Status</th>

    </tr>
  </thead>

  <tbody class="table-hover">
    <% @patients.each do |patient| %>
        <tr>
          <td class="text-left"><%= link_to patient.name, patient %></td>
          <td class="text-left"><%= link_to patient.height, patient %></td>
          <td class="text-left"><%= link_to patient.height_inch, patient %></td>
          <td class="text-left"><%= link_to patient.weight, patient %></td>
          <td class="text-left"><%= link_to patient.bmi, patient %></td>
          <td class="text-left"><%= link_to patient.bmi_status, patient %></td>

        </tr>
    <% end %>
  </tbody>

<br>
