<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient.weight %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>
<!--Patient Weight table goes below!!! -->
<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @patient.weights.each do |weight| %>
      <tr>
        <td><%= weight.weigh_month %></td>
        <td><%= weight.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--Patient Weight table goes above!!! -->
<!--Patient Friendship table goes below!!! -->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @patient.friendships do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--Patient Friendship table goes above!!! -->

<%#= line_chart @patient.weights.group(:weight).count %>
<%= weight_by_month(@patient.id) %>
