<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient.weight %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @patient.weights.each do |weight| %>
      <tr>
        <td><%= weight.weigh_month %></td>
        <td><%= weight.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= line_chart @patient.weights.group(:weight).count %>
<%= weight_by_month(@patient.id) %>
