  <!-- <strong>Doctor Name:</strong> -->
<h1><%= "Doctor Name: #{@doctor.name}" %></h1>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Height</th>
        <th>BMI</th>
        <th>BMI STATUS</th>

      </tr>
    </thead>

    <tbody>
      <% @doctor.patients.each do |patient|%>
        <tr>
          <td><%=link_to patient.name, patient %></td>
          <td><%=link_to patient.weight, patient %></td>
          <td><%=link_to patient.height, patient %></td>
          <td><%=link_to patient.bmi, patient %></td>
          <td><%=link_to patient.bmi_status, patient %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
